<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Create Account</title>
</head>
<body>
    <div class="login"> 
     <div class="from-container container-CreateAccount ">
        <h1 class="title"> My account 😎</h1>

        <form action="" class="form form-account">
            <div class="subContainer-form">
                <label for="name" class="label"> Name</label>
                <input class="input input-name" type="text" id="name" placeholder="Lina Alvarado">
    
                <label for="email" class="label"> Email addres</label>
                <input class="input input-email" type="email" id="email" placeholder="Lina@email.com"">
    
                <label for="password" class="label"> Password</label>
                <input class="input input-password" type="password" id="password" placeholder="******">
            </div>
            <input type="submit" value="Create" class="primary-button create-button"> 
        </form>
     </div>
    </div>
</body>
</html>