<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Recover Password</title>
</head>
<body>
    <div class="login"> 
     <div class="from-container">
        <img src="../../logos/logo_yard_sale.svg" alt="logo" class="logo">
        <h1 class="title"> Email has been sent!</h1>
        <p class="subtitle"> PLease check your inbox for instructions on how to reset the password 😊</p>
        <div class="email-image">
            <img src="../../icons/email.svg" alt="Icon email" class="email-icon"> 
        </div>
        <button type="button" class="primary-button login-button">Login </button>
        <p class="small-caption"> Didn´t receive the email? <span class="link"><a href="" class="link-resend">Resend</a></span></p>
     </div>
    </div>
</body>
</html>