<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <img src="../../icons/icon_menu.svg" alt="menu" class="navbar-menu">
        
        <div class="nav-left">
            <img src="../../logos/logo_yard_sale.svg" alt="logo" class="logo-navbar">

            <ul>
                <li>
                    <a href="">All</a>
                </li>

                <li>
                    <a href=""> Clothes</a>
                </li>

                <li>
                    <a href=""> Electronics</a>
                </li>

                <li>
                    <a href=""> Furniture</a>
                </li>

                <li>
                    <a href=""> Toys</a>
                </li>

                <li>
                    <a href=""> Others</a>
                </li>
            </ul>
        </div>

        <div class="nav-right">
            <div class="email-container-navbar">
                <p class="email-navbar"> LinaAlvarado@gmail.com</p>
                <img src="../../icons/flechita.svg" alt="arrow">
            </div>
            <img src="../../icons/icon_shopping_cart_notification.svg" alt="">
        </div>
    </nav>
</body>
</html>